<h2>Edit {{title}}</h2>

<form action="/movies/{{movie.id}}" method="POST">
  <p>
    <label>
      Title:
      <input type="text" name="title" value="{{movie.title}}">
    </label>
  </p>

  <p>
    <label>
      Genre:
      <input type="text" name="genre" value="{{movie.genre}}">
    </label>
  </p>

  <p>
    <label>
      Plot:
      <textarea name="plot" cols="30" rows="4">{{movie.plot}}</textarea>
    </label>
  </p>

<p>
    <label>
      Cast:
      <select name="cast" multiple>
        {{#each celebrities}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
     </select>
    </label>
  </p>

  <button>Update this Movie</button>
</form>